.logo {
  display: inline-block;
  font-family: $_bebas;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.06em;
  color: $colorTextBlack;

  @include hover(transform, scale(105%));
}
