%container {
  margin: 0 auto;
  max-width: $maxWidth;
  padding: 0 $paddingMobile;

  @include onTablet {
    padding: 0 $paddingTablet;
  }

  @include onDesktop {
    padding: 0 $paddingDesktop;
  }
}
