@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin bgImage($size, $path, $name, $format) {
  background-image: url(../images/#{$path}/#{$name}.#{$format});
  background-size: $size;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} $smoothTime;
  @include onDesktop {
    &:hover {
      #{$_property}: $_toValue;
    }
  }
}
